<ion-header [translucent]="true">
  <ion-toolbar style="margin: 0 auto;" color="primary">
    <ion-buttons slot="start">
    <ion-back-button defaultHref="curso" text=""></ion-back-button>
    </ion-buttons>
    <ion-title style="margin: 0 auto;">Comprobante</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="contenedor">
  <div class="titulo-estilo">
    <h4 style="font-weight: bold;">{{usuario?.nombre}}</h4>
    <br>
    <h4 style="font-weight: bold;">{{curso?.pago}}</h4>
  </div>

  <br>


</ion-content>
