ion-select{
  width: 90%;
  background-color: #cdcdcd;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5%;
  padding: 15px !important;
  padding-left: 10px !important;
}


ion-input{
  width: 90%;
  background-color: #cdcdcd;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5%;
  padding: 5px !important;
  padding-left: 10px !important;
}



ion-textarea{
  width: 90%;
  background-color: #cdcdcd;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5%;
  padding: 5px !important;
  padding-left: 10px !important;
  height: 150px !important;
}


ion-datetime{
  width: 90%;
  background-color: #cdcdcd;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5%;
  padding: 15px !important;
  padding-left: 10px !important;
}



ion-button{
  width: 90%;
  font-weight: 900;
  margin-left: 5%;
}
