.image-login{
    height: 170px;
    margin-left: 28%;
    margin-top: 20px;
}

.input{
    width: 90%;
    background-color: #cdcdcd;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 5%;
    padding: 5px !important;
    padding: 10px !important;
    border: 0px solid;
    margin-bottom: 5px;
}

.input_tarjeta{
  width: 80%;
  background-color: #cdcdcd;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5%;
  padding: 5px !important;
  padding: 10px !important;
  border: 0px solid;
  margin-bottom: 5px;
}

.imagen_tarjeta{
  width: 10%;
  float: right;
  margin-right: 5%;
}

.input2{
    width: 40%;
    background-color: #cdcdcd;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 4%;
    padding: 5px !important;
    padding: 10px !important;
    border: 0px solid;
    margin-bottom: 5px;
}

.input-fecha{
    width: 22.5%;
    background-color: #cdcdcd;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 5%;
    padding: 5px !important;
    padding: 10px !important;
    border: 0px solid;
    margin-bottom: 5px;
}

.documento{
    width: 22.5%;
    background-color: #cdcdcd;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 5%;
    padding: 5px !important;
    padding: 10px !important;
    border: 0px solid;
    margin-bottom: 5px;
}

.numero_documento{
    width: 65%;
    background-color: #cdcdcd;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 2.5%;
    padding: 5px !important;
    padding: 10px !important;
    border: 0px solid;
    margin-bottom: 5px;
}

.input-fecha2{
    width: 22.5%;
    background-color: #cdcdcd;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 1%;
    padding: 5px !important;
    padding: 10px !important;
    border: 0px solid;
    margin-bottom: 5px;
}

.boton{
    width: 90%;
    border-radius: 10px;
    font-weight: 300;
    margin-left: 5%;
    padding: 5px !important;
    padding: 10px !important;
    border: 0px solid;
    margin-bottom: 5px;
}


.error{
  border: solid red 2px;
}

.error_x{}


