<ion-header>
  <!-- <ion-toolbar>
    <ion-title center>Inicie Sesion Como Colegiado</ion-title>
  </ion-toolbar> -->
</ion-header>

<ion-content>
<div class="header-login">
  <img src="assets/images/logo.png" class="image-login"  alt=""> <br>
  INICIE SESION COMO COLEGIADO
</div>
<div class="form-login" style="margin-top: 30px; margin-bottom: 30px;">

  <ion-input placeholder="CIP" [(ngModel)]="cip"></ion-input> <br>
  <ion-input placeholder="Clave" [(ngModel)]="clave"></ion-input> <br>

  

</div>
<ion-button color="primary" (click)="IniciarSesion()"> INICIAR SESION </ion-button>
  <ion-button color="dark" routerLink="/folder">REGRESAR</ion-button>
</ion-content>
