.unidad-slider{
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px #999;
}

.contenido-noticia{
  padding: 6%;
  text-align: justify;
  font-size: 15pt;
}

.titulo-noticia{
  font-size: 2em;
  padding-left: 6%;
  padding-right: 6%;
  font-weight: 600;
  text-align: center;
  line-height: 30px !important;
}

ion-input{
  width: 90%;
  background-color: #cdcdcd;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5%;
  padding: 5px !important;
  padding-left: 10px !important;
}

ion-button{
  width: 90%;
  font-weight: 600;
  margin-bottom: 1em;
}
