ion-select{
  width: 90%;
  background-color: #cdcdcd;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5%;
  padding: 15px !important;
  padding-left: 10px !important;
}

ion-grid{
  width: 90%;
  margin-left: 5%;
}

.text-900{
  font-weight: 900;
}
