
.unidad-slider{
  width: 50%;
}

.listado-categorias{
  overflow-x: auto;
}


.list_buttons_news{
  background-color: transparent;
  margin-top: 15px;
   overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding-left: 1em;
  padding-right: 1em;
  }
