.social-network-label{
  margin-left: 41px;
}

.ion-card-limite{
  margin-top: 25px;
}

.ion-card-estilo{
  height: 100%;
  width: 100%;
  margin-left: 0%;
}

ion-card {
  border-radius: 65px;
  background-color:rgb(255, 247, 247);
  }
