ion-select{
  width: 90%;
  background-color: #cdcdcd;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5%;
  padding: 15px !important;
  padding-left: 10px !important;
}

ion-card-title{
  font-size: 0.7em
}

.boton-completo{
  background-color: darkred!important;
  color: white;
  font-weight: 900;
}

.boton-completo2{
  background-color: gray!important;
  color: white;
  font-weight: 900;
}
