<ion-header [translucent]="true">
  <ion-toolbar style="margin: 0 auto;" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="margin: 0 auto;">Alquileres</ion-title>
    <!-- <ion-buttons slot="end" (click)="cerrarSesion()">
      <ion-icon name="log-out-outline"  style="font-size: 2em;"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">
    <br>
    <ion-list class="ion-text-center list_buttons_news">
      <ion-button color="success" routerLink="/solicitud-alquiler" style="width:90%">
      <ion-icon name="add-circle"></ion-icon>  Solicitar Nuevo
      </ion-button>
    </ion-list>


    <br><br>

    <ion-list>
      <div >
      <ion-card  style="width: 90%; margin-left: 5%;" *ngFor="let alquiler of alquileres">
        <ion-card-header>
              <ion-card-subtitle>SOLICITUD ALQUILER: {{alquiler.alquiler_lista_data.local}} ({{alquiler.tiempo_data.tiempo}})</ion-card-subtitle>
              <ion-card-title>Desde:  {{alquiler.desde}}</ion-card-title>
              <ion-card-title>Hasta:  {{alquiler.hasta}}</ion-card-title>
        </ion-card-header>
       <ion-card-header class="boton-completo" routerLink="/tipo-documento/{{alquiler.data_deuda.id}}" *ngIf="alquiler.data_deuda != null && alquiler.status != 4"> <ion-icon name="barcode" style="font-size: 1.3em"></ion-icon> Pagar</ion-card-header>
       <ion-card-header class="boton-completo2" *ngIf=" alquiler.status == 4"> Pagado</ion-card-header>
       <ion-card-header color="success" (click)="descargar(alquiler.data_deuda.pdf)" *ngIf=" alquiler.status == 4"> Documento Electronico</ion-card-header>
       <ion-card-header color="primary">
         <div (click)="descargar(certificado.pdf)"><ion-icon name="document" ></ion-icon> Ver Detalles </div>
      </ion-card-header>
      </ion-card>
    </div>
  </ion-list>

  </div>


</ion-content>
