.titulo{
    width: 90%;
    margin-left: 5%;
}

ion-item{
    border: 0px!important;
}

ion-input{
    width: 100%;
    background-color: #cdcdcd;
    border-radius: 10px;
    font-weight: 700;
    padding: 5px !important;
    padding-left: 10px !important;
}

.boton-documento{
    width: 100%;
    background-color: #cdcdcd;
    border-radius: 10px;
    font-weight: 700;
    padding: 5px !important;
    padding-left: 10px !important;
}

.boton-documento-active{
    width: 100%;
    background-color: #e4b434;
    border-radius: 10px;
    font-weight: 700;
    padding: 5px !important;
    padding-left: 10px !important;
    color : white;
}

