.image-login{
    width: 170px;
    margin-left: 27%;
    margin-top: 30px;
}

.text-exito{
    font-size: 2em;
    text-align: center;
    color: green;
    font-weight: 900;
}

.div{
    width: 90%;
    margin-left: 5%;
    background-color: #cdcdcd;
    padding: 20px;
    border-radius: 10px;
}

.boton{
    width: 90%;
    background-color: #e4b434;
    border-radius: 10px;
    font-weight: 300;
    margin-left: 5%;
    padding: 5px !important;
    padding: 10px !important;
    border: 0px solid;
    margin-bottom: 5px;
    color: white;
    margin-top:20px;
}