<ion-card>

  <ion-card-content class="contenidoTarjeta">
    <ion-card-subtitle class="nombreUsuario">{{usuario.nombre}}</ion-card-subtitle>
    <ion-grid>
      <ion-row>
        <ion-col size="4">
          <ion-img *ngIf="usuario.foto"
             [src]="usuario.foto">
          </ion-img>
        </ion-col>
        <ion-col size="8">
            <strong>{{usuario.cargo}}</strong>
            <ion-grid>
              <ion-row>
                <ion-icon name="person" size="small"></ion-icon> &nbsp; <p>CIP {{usuario.cip}}</p>
              </ion-row>
              <ion-row>
                <ion-icon name="mail" size="small"></ion-icon> &nbsp; <p>{{usuario.correo}}</p>
              </ion-row>
              <ion-row>
                <ion-icon name="list" size="small"></ion-icon> &nbsp; <a [href]="usuario.hoja_vida">Hoja de Vida</a>
              </ion-row>

            </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
