<ion-header [translucent]="true">
  <ion-toolbar style="margin: 0 auto;" color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="margin: 0 auto;">Cursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list class="ion-text-center">
    <ion-button (click)="onClickBoton(1)">Cip Piura
      <ion-icon *ngIf="botonSeleccionado === 1" slot="start" name="checkmark-circle"></ion-icon>
    </ion-button>
    <ion-button (click)="onClickBoton(2)">Comités
      <ion-icon *ngIf="botonSeleccionado === 2" slot="start" name="checkmark-circle"></ion-icon>
    </ion-button>
    <ion-button (click)="onClickBoton(3)">Capítulos
      <ion-icon *ngIf="botonSeleccionado === 3" slot="start" name="checkmark-circle"></ion-icon>
    </ion-button>
  </ion-list>


  <app-contenedor-cursos [cursos]="cursos"></app-contenedor-cursos>
</ion-content>
