ion-input{
    width: 90%;
    background-color: #cdcdcd;
    border-radius: 10px;
    font-weight: 700;
    margin-left: 5%;
    padding: 5px !important;
    padding-left: 10px !important;
}

form-login{
    margin-top: 10% !important;
    margin-bottom: 10%;
}

ion-button{
    width: 80%;
    font-weight: 900;
    margin-left: 10%;
  }

  .image-login{
    height: 170px;
  
  }