.titulo-estilo{
  text-align: center;
  margin-left: 11px;
  margin-right: 11px;
}

.contenedor-foto{
  margin-left: 11px;
  margin-right: 11px;
}

.informacion-curso {
  margin-left: 11px;
  margin-right: 11px;
}

.bottomRow
{
  margin-top: -10px;
}

.contenido-noticia{
  padding: 6%;
  text-align: justify;
}


